* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url('http://art.cafimg.com/images/Category_120629/subcat_182493/EnSG7eJa_0105171442471gpadd.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Top Bar Styling */

nav {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-container {
  max-width: 1000px;
  margin: auto;
}

#top-container {
  display: inline;
}

.logo, form {
  display: inline-block;
  vertical-align: middle
}

.logo {
  height: 75px;
  padding: 6px 10px 6px 20px;
}

.logo:hover {
  cursor: pointer;
}

form * {
  border-radius: 5px;
  font-size: 22px;
  padding: 10px;
}

#search-button {
  background-color: dimGray;
  border: 1px solid #505050;
  color: silver;
}

#search-button:hover {
  background-color: #505050;
  cursor: pointer;
}

 /*Main Area Styling */

main {
  margin: auto;
  max-width: 1000px;
  position: relative;
  top: 100px;
}

.main-unknown-section, .main-results-section, .main-comics-section, .main-events-section, .main-videos-section {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid lightGrey;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.unknown {
  text-align: center;
}

.main-results-section {
  height: 350px;
}

.character-name {
  font-size: 50px;
  letter-spacing: -2.5px;
  text-transform: uppercase;
}

.character-photo {
  border: 5px solid dimGray;
  border-radius: 3px;
  float: left;
  width: 300px;
}

.results-text {
  padding-left: 325px;
}

.character-description {
  font-size: 20px;
  padding: 10px 0;
}

.more-icon {
  height: 11px;
}

.comics-section, .events-section, .videos-section {
  clear: both;
  text-align: center
}

.section-title {
  font-size: 32px;
}

.item-title {
  font-size: 20px;
}

.description {
  height: 175px;
  margin: 5px 10px;
  overflow: scroll;
  padding: 10px;
  text-align: left
}

.image {
  padding: 20px 10px 5px 10px;
  width: 300px
}

.comic-result {
  display: inline-block
}

.comics-section, .events-section {
  display: flex;
}

@media only screen and (max-width: 425px) {
  #nav-container {
    width: 100%;
    text-align: center
  }

  form * {
    margin-bottom: 5px;
    padding: 5px;
    width: 90%;
  }
}

/*footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}*/
