/* Page Resets and Defaults */

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

/* Background Marvel Image */

body {
  background: url("./images/EnSG7eJa_0105171442471gpadd.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.white-overlay {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

/* Top Bar Styling */

nav {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-container {
  margin: auto;
  max-width: 1100px;
}

.logo, form {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  height: 75px;
  padding: 6px 10px 6px 20px;
}

.logo:hover {
  cursor: pointer;
}

form * {
  border-radius: 5px;
  font-size: 22px;
  padding: 10px;
}

#search-button {
  background-color: dimGray;
  border: 1px solid #505050;
  color: silver;
}

#search-button:hover {
  background-color: #505050;
  cursor: pointer;
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  nav {
    position: static;
  }

  #nav-container {
    text-align: center;
    width: 100%;
  }

  .logo {
    margin: 8px 0;
  }

  form * {
    font-size: 20px;
    margin-bottom: 6px;
    padding: 3px;
    width: 90%;
  }

  input {
    padding-left: 6px
  }
}

@media only screen and (max-width: 580px) {
  nav {
    position: static;
  }

  #nav-container {
    text-align: center;
    width: 100%;
  }

  .logo {
    margin: 8px 0;
  }

  form * {
    font-size: 20px;
    margin-bottom: 6px;
    padding: 3px;
    width: 90%;
  }

  input {
    padding-left: 6px
  }
}

 /* Main Area Styling */

main {
  margin: auto;
  max-width: 1100px;
  position: relative;
  top: 100px;
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  main {
    position: static;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 580px) {
  main {
    position: static;
    margin-top: 10px;
  }
}

/* Unknown Page Styling */

.unknown {
  text-align: center;
}

@media only screen and (max-width: 580px) {
  .unknown {
    font-size: 12.5px;
  }
}

/* Main Results Section Styling */

.main-results-section {
  height: 350px;
}

.character-photo {
  border: 5px solid dimGray;
  border-radius: 3px;
  float: left;
  width: 300px;
}

.results-text {
  padding-left: 325px;
}

.character-name {
  font-size: 50px;
  letter-spacing: -2.5px;
  text-transform: uppercase;
}

.character-description {
  font-size: 20px;
  padding: 10px 0;
}

.more-icon {
  height: 11px;
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  .main-results-section {
    height: 280px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .character-photo {
    width: 215px;
  }

  .results-text {
    padding-left: 235px;
  }

  .character-name {
    font-size: 45px;
    letter-spacing: -2px;
  }

  .character-description {
    font-size: 15px;
  }

  .read-more {
    font-size: 15px;
  }
}

@media only screen and (max-width: 580px) {
  .main-results-section {
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
    width: 95%;
  }

  .character-photo {
    float: none;
    width: 100%;
  }

  .results-text {
    padding-left: 0;
  }

  .character-name {
    font-size: 40px;
    letter-spacing: -2px
  }

  .character-description {
    font-size: 16px
  }
}

/* Other Sections Styling */

.main-comics-section, .main-events-section, .main-share-section {
  float: left;
  text-align: center;
  width: 65%;
}

.main-videos-section {
  float: right;
  width: 30%;
}

.comics-section, .events-section {
  display: flex;
}

.event-result, .comic-result {
  width: 100%;
}

.image {
  padding: 20px 10px 5px 10px;
  width: 100%;
}

.image:hover, .video:hover {
  opacity: 0.8;
}

.section-title {
  font-size: 32px;
  text-align: left;
}

.item-title {
  font-size: 20px;
  padding: 0 5px;
}

.description {
  height: 150px;
  margin: 5px 5px;
  overflow: scroll;
  padding: 5px 5px;
  text-align: left;
}

.no-description {
  padding: 10px;
}

.video {
  margin-top: 15px;
  width: 100%;
}

.video-title, .video-channel {
  font-size: 17px;
  text-align: center;
}

.video-channel, .video-description {
  font-size: 15px
}

.video-description {
  height: 100px;
  margin: 10px 5px 0 5px;
  overflow: scroll;
}

.share-section * {
  display: inline-block;
  vertical-align: middle;
}

.ss-section:hover {
  opacity: 0.8;
}

.ss-icon {
  margin: 20px 10px 0 20px;
  width: 50px;
}

.ss-title {
  padding-top: 22px;
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  .item-title {
    font-size: 17px;
    padding: 0 5px;
  }

  .image, .video {
    margin-top: 0;
    padding: 10px 5px 0 5px;
  }

  .description {
    font-size: 14px;
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 5px;
  }

  .videos-section {
    display: flex;
  }

  .video-result {
    width: 33%
  }

  .video-title, .video-channel {
    padding: 0 5px;
  }

  .video-description {
    font-size: 14px;
    margin: 10px 5px 0 5px;
    padding: 0 5px
  }
}

@media only screen and (max-width: 580px) {
  .comics-section, .events-section {
    display: block;
  }

  .image {
    margin-top: 15px;
    padding: 0;
    width: 60%;
  }

  .description {
    height: 100px;
    padding: 0;
  }

  .videos-section {
    text-align: center;
  }

  .video {
    width: 90%;
  }

  .video-description {
    margin: 0;
    margin-top: 10px;
    text-align: left;
  }

  .ss-title {
    display: none;
  }

  .ss-icon {
    margin: 20px 10px 0 10px;
    width: 55px;
  }
}

/* Sectional Box Styling */

.main-unknown-section, .main-results-section, .main-comics-section, .main-events-section, .main-videos-section, .main-share-section {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid lightGrey;
  border-radius: 3px;
  margin: 0 10px 10px 10px;
  padding: 20px;
}

.main-share-section {
  margin-bottom: 5%;
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  .main-events-section, .main-comics-section, .main-videos-section, .main-share-section {
    float: none;
    margin: auto;
    margin-bottom: 10px;
    width: 95%;
  }
}

@media only screen and (max-width: 580px) {
  .main-events-section, .main-comics-section, .main-videos-section, .main-share-section {
    float: none;
    margin: auto;
    margin-bottom: 10px;
    width: 95%;
  }
}

/* Video Light Box Styling */

#light-box {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

iframe, object, embed {
  height: 70%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width:70%;
}

.video-container {
  height: 0;
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%;
  top: 120px;
  z-index: 1;
}

.close-button {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
  position: relative;
  top: 100px;
  left: 40px;
}

.close-button:hover {
  background-color: #505050;
  cursor: pointer;
}
